
{% extends "base.html" %}
{% load static %}

        {% block content %}
            <section id="about-Home">
                <h2>Blog</h2>
            </section>

            <section id="blog-container">
                <div class="blogs">
                    {% for post in posts %}
                    <div class="post">
                        
                        {% if post.imagem %}
                            <img src="{{ post.imagem.url }}" alt="">
                        {% else %}
                            <img src="{% static 'placeholder.jpg' %}" alt="">
                        {% endif %}
                        
                        <h3>{{ post.titulo }}</h3>
                        <p>{{ post.descricao }}</p>
                        <a href="https://www.youtube.com/live/wQU5CJpzw38?si=TM4VL8xlBzYD0Sxa" target="_blank">Vídeo sobre o assunto</a>
                    </div>
                    {% endfor %}
                </div>

                <div class="cate">
                    <h2>Fontes</h2>
                    <hr>
                    <a href="https://jornal.usp.br/campus-ribeirao-preto/tecnologias-interativas-podem-contribuir-na-conscientizacao-de-jovens-sobre-sexo-seguro/" target="_blank">Jornal da USP</a>
                    <hr>
                    <a href="https://brasil.un.org/pt-br/149621-fundo-de-popula%C3%A7%C3%A3o-da-onu-amplia-acesso-servi%C3%A7os-de-sa%C3%BAde-sexual-e-reprodutiva-no-par%C3%A1" target="_blank">Nações Unidas Brasil</a>
                    <hr>
                    <a href="https://medium.com/casahacker/a-cultura-do-descarte-impactos-da-pornografia-digital-40e5a46c809d" target="_blank">Medium</a>
                    <hr>
                    <a href="https://www.jusbrasil.com.br/artigos/a-pornografia-de-vinganca-e-os-desafios-da-protecao-da-privacidade-online/407311374" target="_blank">Jus Brasil</a>
                    <hr>
                </div>

            </section>
        {% endblock content %}
