{% extends "base.html" %}
{% load static %}

        {% block content %}
            <!-- Inicio -->
            <section id="about-Home" >
                <h2>Quem somos?</h2>
            </section>

            <!-- Profiles -->
            <section id="experts">
                <h1> Trabalho feito por </h1>
                <p>O conteudo presente nesse site foi feito por</p>
                <div class="expert-box">
                    {% for pessoa in pessoas %}
                    <div class="profile">
                        <img src="{{ pessoa.imagem.url }}" alt="">
                        <h6>{{ pessoa.nome }}</h6>
                        <p>{{ pessoa.subtitulo }}</p>
                        <div class="pro-links">
                            <a href="{{ pessoa.url }}" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div> 
            </section>
        {% endblock content %}