{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- Profiles -->
        <section id="experts">
            <h1> Trabalho feito por </h1>
            <p>O conteudo presente nesse site foi feito por</p>
            <div class="expert-box">

                <div class="profile">
                    <img src="images/victor.jpeg" alt="">
                    <h6>João Victor</h6>
                    <p>Aluno 1</p>
                    <div class="pro-links">
                        <a href="https://www.instagram.com/joac796/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            

                <div class="profile">
                <img src="images/dema.jpg" alt="">
                <h6>Ademacir</h6>
                <p>Aluno 2</p>
                <div class="pro-links">
                    <a href="https://www.instagram.com/ademacirfilho/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        

            <div class="profile">
            <img src="images/cledso.jpg" alt="">
            <h6>Cledson</h6>
            <p>Aluno 3</p>
            <div class="pro-links">
                <a href="https://www.instagram.com/francisc0.bbz/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    

    <div class="profile">
        <img src="images/nigga.jpg" alt="">
        <h6>Guilherme</h6>
        <p>Aluno 4</p>
        <div class="pro-links">
            <a href="https://www.instagram.com/frcogui/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <div class="profile">
        <img src="images/elias.jpg" alt="">
        <h6>Elias</h6>
        <p>Aluno 5</p>
        <div class="pro-links">
            <a href="https://www.instagram.com/renner_onlyy/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

        </section>
        {% endblock content %}