{% extends "base.html" %}
{% load static %}

        {% block content %}
            <!-- Inicio -->
            <section id="Home" >
                <h2>Impacto da tecnologia na Sexualidade e Saúde Sexual</h2>
                <p>A pornografia pode ter um impacto significativo na vida dos jovens, principalmente devido à facilidade de acesso proporcionada pelas tecnologias modernas.
                </p> 
                <div class="btn">
                    <a class="blue" href="{% url 'post' %}">Saiba Mais</a>
                </div>
            </section>

            <!-- Courses -->
            <section id="course">
            <h1>Notícias</h1>
                <p>Quebrando o tabu da Sexualidade</p>
                <div class="course-box">
                    {% for noticia in noticias %}
                    <div class="courses">
                        <img src="{{ noticia.imagem.url }}" alt="">
                        <div class="details">                  
                            <span>{{ noticia.data }}</span>
                            <h6>{{ noticia.titulo }}</h6>                      
                        </div>
                        <div class="cost">
                            <a href="{{ noticia.url }}" target="_blank">Ver</a>
                        </div>
                    </div>
                    {% endfor %}
            </section>
        {% endblock %}
<script src="{% static 'script/main.js' %}"></script>