{% extends "base.html" %}
{% load static %}
    
    {% block content %}
        <section id="blog-container">
            <div class="blogs blogpost">
                <div class="post">
                    {% if post.image %}
                    <img src="{% static 'images/pornografia.jpg' %}" alt="">
                    {% endif %}
                    <h3>A Era Digital e Seus Impactos na Sexualidade e Saúde Sexual: Uma Jornada Entre Benefícios e Desafios</h3>
                    <p>
                        A tecnologia se infiltrou em diversos aspectos da nossa vida, e a sexualidade não é exceção. Novas ferramentas e plataformas digitais surgem a todo momento, impactando a forma como nos relacionamos, exploramos nossa sexualidade e buscamos informações sobre saúde sexual.
                        <br><br>
                        Essa jornada na era digital traz consigo uma gama de oportunidades e desafios. De um lado, a facilidade de acesso à informação, a conexão com diversas comunidades e a possibilidade de explorar a sexualidade com segurança e discrição são alguns dos benefícios que a tecnologia oferece.
                        
                        É essencial respeitar tanto a orientação sexual quanto a identidade de gênero das pessoas, pois isso está diretamente relacionado ao direito de cada um viver de maneira autêntica.
                       <br><br> 
                       Por outro lado, conteúdos questionáveis, falta de confiabilidade em algumas fontes, desafios na garantia da privacidade e os riscos do consumo excessivo de pornografia são alguns dos pontos que exigem atenção e senso crítico.</p>
                </div>
            </div>
        </section>
    {% endblock content %}